pre {
  color: none !important;
  border: 1px solid rebeccapurple !important;
  padding: 12px !important;
  width: fit-content !important;
  border-radius: 15px !important;
  white-space: pre-line !important;
  word-wrap: break-word !important;
  text-align: justify !important;
}

.blogs-main {
  width: 100vw;
}

.basic-blogs {
  margin-left: 5%;
  margin-right: 5%;
}

.blogs-heading-div {
  display: flex;
}

.blogs-heading-div > * {
  flex: 1;
}

.blogs-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.blogs-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
}

.blogs-heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  margin-bottom: 10px;
}

.blogs-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

.blogs-updated-date-div{
  text-align: left;
  font-size: small;
  font-style: oblique;
}

.blog-text img{
  max-width: 100%;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

@media (max-width: 1380px) {
  .blogs-heading-text {
    font-size: 50px;
  }
  .blogs-heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .blogs-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .blogs-heading-sub-text {
    font-size: 20px;
  }

  .blogs-heading-div {
    flex-direction: column;
  }

  .blogs-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: normal;
  }

  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
}

.blog-text{
    text-align: left;
}